.main-titles{
    color: blue;
    display: flex;
    justify-content: center;
}
.navbar{
    background-color: red;
}


.navbar li{
    display: inline;
    padding: 15px;
}

#navbar-items{
    padding: 5px;
}