html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    height: 100%;
    padding:0px;
    padding-top: 100px;

    background: linear-gradient(180deg, rgb(22, 22, 22), #000);
    font-family: 'Open Sans', sans-serif;
}
h1{
    color: white;
    text-align: center;
    background-color: #222;
    margin: 1em 1em 1em 1em;
    border-radius: 0.5em;
}
header{
    position: fixed;
    top: 0;
    color: white;
    width: 100%;
    background-color: #222;
} 
header nav{
    padding: 8px;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-inline-start: 0;
}
header nav ul li{
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
}
header nav ul li a:hover{
    color: #777;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}

.flex-section{
    padding: 10px ;
    display: flex;
    justify-content: space-around;
}
.car-window{
    max-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.car-window ul{
    padding-inline-start: 0;
}
.car-window li{
    border: #222 solid 1px;
    border-radius: 0.5em;
    color: white;
    list-style-type: none;
    text-align: center;
    margin-top: 5px;
}

.car-window #img-car{
    border: none;
}
.car-window li img{
    max-width: 100%;
    max-height: 100%;
}
.car-window li a{
    text-decoration: none;
    transition: color 300ms ease-in-out;
    color: white;
}
.car-window li a:hover{
    color: #666;
}
.car-window .info-car{
    background-color: #222;
}

#about-us #paragraph p{
    color: white;
    padding: 0em 2em 0em 2em;
    text-align: justify;
}
#categories-section a{
    width: 100%;
    margin: 0.5em 1em;
    padding: 1em;
    border-radius: 0.5em;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #222;
    transition: color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
}
#categories-section a:hover{
    color: #000;
    background-color: #333;
    font-weight: bold;
}
#form-section{
    display: flex;
    justify-content: center;
}
#form-section form{
    width: 400px;
    text-align: center;
}
#name, #email{
    border-radius: 0.5em;
    width: 100%;
    height: 35px;
}
#comment{
    border-radius: 0.5em;
    width: 100%;
    height: 100px;
}
button{
    width: 75%;
    height: 10%;
    background-color: #222;
    border: none;
    color: white;
    margin-top: 1em;
    border-radius: 0.5em;
    transition: color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
}
button:hover{
    color: #000;
    background-color: #333;
    font-weight: bold;
}
#form-section form label{
    color: white;
}
footer{
    bottom: 0;
    margin-top: 50px;
    color: white;
    background-color: #222;
}
footer p{
    padding: 1.5em 2em;
    text-align: center;
}
@media screen and (max-width: 420px) {
    body{
        font-size: 12px;
    }
    .flex-section{
        flex-direction: column;
        align-items: center;
    }
    .flex-categories{
        margin: 1.5em 6em;
    }
    .car-window{
        max-width: 75%;
        align-items: center;
    }
    #form-section form{
        width: 100%;
        margin: 1em 2em;
    }
    #name, #email{
        height: 30px;
    }
}